// Not a coponent per se, but used to style all forms in one file.
textarea,
input,
button {
  outline: none;
}
.form-response__container {
  @include media-breakpoint-down(sm) {
    padding-left: $gutter-percentage;
    padding-right: $gutter-percentage;
  }
}



form {
  //@extend %layout-center;
  @include clearfix();
  @include section-padding-top(3);
  max-width: $content-wrapper-max-width;
  margin-left: auto;
  margin-right: auto;
  span.error {
    position: absolute;
    color: $white;
    font-size: $font-size-sm;
    line-height: 1;
    bottom: -22px;
    left: 16px;
  }
}

.form-item {
  margin: 0 0 20px 0;
  padding: 0 16px;
  width: 50%;
  float: left;

  // Collapse in one column.
  @include media-breakpoint-down(sm) {
    width: 100%;
    float: none;
    padding: 0;
    span.error {
      left: 0;
    }
  }


  &#webform-component-message {
    width: 100%;
    &::after {
      bottom: 0;
    }
  }

  input {
    width: 100%;
  }
  .form-textarea-wrapper {
    line-height: 0;
  }

  textarea {
    resize: none;
    border: 0;
    width: 100%;
    background-attachment: local;
    background-image: repeating-linear-gradient(transparent, transparent 31px, $input-line 31px, $input-line 32px, transparent 32px);
    line-height: 32px;
    height: 5 * 32px;
  }

  input,
  textarea {
    background-color: transparent;
    color: $white;
    font-family: $pf-light;
  }
}



label {
  padding-bottom: 0;
  color: $white;
  margin-bottom: 0;
}

.form-text {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 5px;
  color: $black;
  border: 0;
}

.form-actions {
  clear: both;
  text-align: center;
}

.form-submit {}

#form-response {

}
