// Not a coponent per se, but used to style all forms in one file.
textarea,
input,
button {
  outline: none;
}

form {
  //@extend %layout-center;
  @include clearfix();
  @include section-padding-top(3);
  span.error {
    position: absolute;
    color: $white;
    font-size: $font-size-sm;
    line-height: 1;
    bottom: -27px;
    left: 16px;
  }
}

.form-item {
  margin: 0 0 16px 0;
  padding: 0 16px;
  width: 50%;
  float: left;

  // Collapse in one column.
  @media only screen and (min-width:0) and (max-width: $mobile-breakpoint)  {
    width: 100%;
    float: none;
  }


  &#webform-component-message {
    width: 100%;
    &::after {
      bottom: 0;
    }
  }

  input {
    width: 100%;
  }
  .form-textarea-wrapper {
    line-height: 0;
  }

  textarea {
    resize: none;
    border: 0;
    width: 100%;
    background-attachment: local;
    background-image: repeating-linear-gradient(transparent, transparent 31px, $input-line 31px, $input-line 32px, transparent 32px);
    line-height: 32px;
    height: 5 * 32px;
  }

  input,
  textarea {
    background-color: transparent;
    color: $white;
    font-family: $pf-light;
  }
}



label {
  padding-bottom: 0;
  color: $white;
  margin-bottom: 0;
}

.form-text {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 5px;
  color: $black;
  border: 0;
}

.form-actions {
  clear: both;
  text-align: center;
}

.form-submit {}

#form-response {
  font-size: 1.25rem;
  @include section-padding-top(2);

  i {
    color: white;
    font-size: 1.6rem;
    padding-right: 10px;
  }
}
