{% assign langcode = page.lang %}
<footer class="footer clearfix on-dark-color">
  <div class="container-fluid">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="footer__item col-sm-6 col-lg-3">
            <h2 class="title title--block text--light-colored">
              Insights
            </h2>
            <ul class="list">
              {% for menuTree in site.data.menu[langcode] %}
                {% assign menuItem = menuTree[1] %}
                <li class="list__item">
                  {% comment %} escape URL so as to match in Greek {% endcomment %}
                  {% assign escapedURL = menuItem.url | uri_escape %}
                  <a class="list__item__link {% if escapedURL  == page.url %}active{% endif %}" href="{{ site.url }}{{ menuItem.url }}">{{ menuItem.footerTitle }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="footer__item col-sm-6 col-lg-3">
            <h2 class="title title--block text--light-colored">
              Location
            </h2>
            {% assign footerAddress = site.data.contact[langcode].contact.footerAddress %}
            <div class="text">{{ footerAddress }}</div>
            {% assign googleMapLink = site.data.contact[langcode].contact.googleMapLink %}
            <a class="footer__link footer__link--map" href="{{ googleMapLink }}" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i>View Map</a>
          </div>
          <div class="footer__item col-sm-6 col-lg-3">
            <h2 class="title title--block text--light-colored">
              Contact
            </h2>
            <div class="text"><a class="footer__link" href="tel:{{ site.data.contact[langcode].contact.callusNumber }}">{{ site.data.contact[langcode].contact.callusNumber }}</a></div>
            <div class="text"><a class="footer__link" href="mailto:{{ site.data.contact[langcode].contact.email }}">{{ site.data.contact[langcode].contact.email }}</a></div>
            <a class="footer__link footer__link--skype" href="skype:{{ site.data.contact[langcode].contact.skypeUsername }}?call"><i class="fa fa-skype" aria-hidden="true"></i>{{ site.data.contact[langcode].contact.skypetext }}</a>
          </div>
          <div class="footer__item col-sm-6 col-lg-3">
            <h2 class="title title--block text--light-colored">
              Follow Us
            </h2>
            <ul class="list">
              <li class="list__item">
                <a class="list__item__link" href="{{ site.data.contact[langcode].contact.linkInLink }}" target="_blank">Linked In</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container footer__attribution">
        <div class="row">
          <div class="footer__item col-sm-6"><div class="text text--extra-extra-small">&copy Astir Vitogiannis {{ site.time | date: '%Y' }}<br/>All Rights Reserved</div></div>
          <div class="footer__item col-sm-3 offset-sm-3"><div class="text text--extra-extra-small"><a class="footer__link footer__link--credits" href="http://www.pointblank.gr" target="_blank"><span>Website created by</span> Point Blank</a></div></div>
        </div>
      </div>
    </div>
  </div>
</footer>
