<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title[page.lang] | escape }}{% endif %}</title>
  {% if page.title %}
      <meta property="og:title" content="{{ page.title }}">
    {% else %}
      <meta property="og:title" content="{{ site.title }}">
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.excerpt }}">
    <meta property="og:description" content="{{ page.excerpt }}">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@gizra_drupal" />
    {% endif %}

    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}">
    {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href="assets/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- SEO -->
  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}{% for translationSets in pages %}{% if translationSets.lang == page.lang %}{% else %}
  <link rel="alternate" hreflang="{{ translationSets.lang }}" href="{{ translationSets.url }}" />{% endif %}{% endfor %}

  <!-- GA -->
  {% include ga.html %}

</head>
