{% assign node = include.param %}
<div class="section-teaser container {{ node.variantClasses }}" id="{{node.id}}">
  <div class="row">
    <div class="section-teaser col-md-6">
      <h1 class="title {{ node.title_variantClasses }}">{{ node.title }}</h1>
      <div class="text">{{ node.body | markdownify }}</div>
      <a href="{{ site.url }}{{ node.buttonLink }}" class="btn btn-primary {{ node.buttonVariantClasses }}">{{ node.buttonText }}</a>
    </div>
    <div class="section-teaser col-md-6">
      <div class="image"><img src="{{ node.image }}"></div>
    </div>
  </div>
</div>
