{% assign node = include.param %}
<div class="section {{ node.variantClasses }} {{ node.layout }}" id="{{node.id}}" style="background-image:url({{ node.bgImage }}); background-position: {{ node.bgImagePosition }}; background-size: {{ node.bgImageSize }};">
  <div class="column">
    {% if node.image %}
      <div class="image"><img class="img-fluid" src="{{ node.image }}"></div>
    {% endif %}
  </div>
  <div class="column">
    <div class="content-wrapper">
      <h1 class="title {{ node.title_variantClasses }}">{{ node.title }}</h1>
      <div class="text">{{ node.body | markdownify }}</div>
      <a href="{{ site.url }}{{ node.buttonLink }}" class="btn {{ node.buttonClasses }}">{{ node.buttonText }}</a>
    </div>
  </div>
</div>
