.slice {
  padding-top: 150px;
  padding-bottom: 150px;
  background-repeat: no-repeat;

  &--with-centered-image {
    .image {
      text-align: center;
    }
  }

  h2 {
    @extend .title--small;
  }
}
