.layout-two-column {

  // Flexbox.
  display: flex;
  flex-wrap: wrap;
  // contain content
  .content-container {
    max-width: $content-wrapper-max-width;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    // Set padding when max width reached.
    @media only screen and (min-width:0) and (max-width: $content-wrapper-max-width)  {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  &.vertically-centered {

    justify-content: center;
    .column {
      justify-content: center;
    }
  }

  .column {
    width: 50%;
    max-width: $content-wrapper-max-width/2;
    padding-right: 5%;

    // Fallback.
    display: inline-block;
    vertical-align: middle;
    //text-align: left;

    // Flexbox;
    display: flex;
    flex-direction: column;

    + .column {
      padding-left: 5%;
      padding-right: 0;
    }

    // Single column.
    @include media-breakpoint-down(sm) {
      width: 100%;
      padding-right: 0;
      + .column {
        padding-left: 0;
      }
    }

    // When image is after column it should take up the whole width.
    + .image {
      width: 100%;
    }

    // When image is in the column it should center.
    .image {
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
    }

    &--full-width {
      width: 100%;
      clear: both;
      float: none;
      display: block;
      + .column {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.odd {
    .column:nth-child(2n) {
      order: -1;
      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }
  }
}
