---
layout: default
---
<script src="{{site.url}}/assets/javascript/noframework.waypoints.min.js"></script>

{% assign langcode = page.lang %}
{% for companyItems in site.data.company[langcode] %}
  {% assign companyItem = companyItems[1] %}
  {% if companyItems[0] == "video" %}
    {% include video.html param=companyItem variantClass="video--homepage" %}
  {% else %}
    {% include slice.html param=companyItem %}
    {% if companyItem.includeArea %}
      {% include {{companyItem.includeArea}} %}
    {% endif %}
  {% endif %}
{% endfor %}
