---
layout: default
---
<!--
<script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
<script src="http://code.createjs.com/tweenjs-0.5.0.min.js"></script>
<script src="http://code.createjs.com/movieclip-0.7.0.min.js"></script>
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/EaselJS/0.8.0/easeljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tweenjs/0.6.2/tweenjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/EaselJS/0.8.0/movieclip.min.js"></script>

{% assign langcode = page.lang %}
{% for companyItems in site.data.company[langcode] %}
  {% assign companyItem = companyItems[1] %}
  {% if companyItems[0] == "video" %}
    {% include video.html param=companyItem variantClass="video--homepage" %}
  {% else %}
    {% include slice.html param=companyItem %}
    {% if companyItem.includeArea %}
      {% include {{companyItem.includeArea}} param=companyItem %}
    {% endif %}
  {% endif %}
{% endfor %}
