<script id="revenues" src="{{site.url}}{{site.canvasLocation}}/company/revenues/revenues.js"></script>
<script src="{{site.url}}{{site.canvasLocation}}/company/circles/circles.js"></script>
<script type="text/javascript">
(function() {
  var canvas, stage, exportRoot;

  // Get location of current script,
  // Used to provide absolute position for resources.
  var scriptPath = function () {
	  var scripts = document.getElementById('revenues');
	  var path = '';
	  if(scripts.src && scripts.src.match(/\/revenues\.js$/)) {
	    path = scripts.src.replace(/(.*)\/revenues\.js$/, '$1');
	  }
	  return path;
  };

  // resize the canvas to fill browser window dynamically
  // window.addEventListener('resize', globalMapInit, false);
  window.revenueInit = function() {
  	canvas = document.getElementById("revenue-chart");
    var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    images = images||{};

    // Change the source of the assets, so as to point to the
		// location of the js file.
		libRevenues.properties.manifest.forEach(function(currentValue){
			// Only process if the scriptPath is not already set.
			if(currentValue.src.indexOf('http') != 0){
				currentValue.src = scriptPath() + '/' + currentValue.src;
			}
		});

  	var loader = new createjs.LoadQueue(false);
  	loader.addEventListener("fileload", handleFileLoad);
  	loader.addEventListener("complete", handleComplete);
  	loader.loadManifest(libRevenues.properties.manifest);
  }

  function handleFileLoad(evt) {
  	if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
  }

  function handleComplete() {
  	exportRoot = new libRevenues.revenues();

  	stage = new createjs.Stage(canvas);
  	stage.addChild(exportRoot);
  	stage.update();

  	createjs.Ticker.setFPS(libRevenues.properties.fps);
  	createjs.Ticker.addEventListener("tick", stage);
  }
})();
</script>
<canvas id="revenue-chart" class="canvas-animation" width="1146" height="466" ></canvas>
<script type="text/javascript">
(function() {
  var canvas, stage, exportRoot;

  // resize the canvas to fill browser window dynamically
  // window.addEventListener('resize', globalMapInit, false);
  window.circlesInit = function() {
  	canvas = document.getElementById("circles-chart");
    var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
    exportRoot = new libcircles.circles();

  	stage = new createjs.Stage(canvas);
  	stage.addChild(exportRoot);
  	stage.update();

  	createjs.Ticker.setFPS(libcircles.properties.fps);
  	createjs.Ticker.addEventListener("tick", stage);
  }
})();
</script>
<canvas id="circles-chart" class="canvas-animation" width="1146" height="466" ></canvas>

<div class="image-mobile">
  <div class="image"><img class="img-fluid" src="/images/company/Facts-1.png"></div>
  <div class="image"><img class="img-fluid" src="/images/company/Facts-2.png"></div>
</div>
<div class="image-slice" id="company-facts">
  <div class="image"><img class="img-fluid" src="/images/company/3.jpg"></div>
</div>
