html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.is-loading {
    opacity: 0;
  }
}


// Override btn, chnage font-size and paddings
// due to capitlization on them.
.btn {
  font-size: .75rem;
  margin-top: $line-height-base + rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: .8px;
  @include media-breakpoint-down(sm) {
    padding: .8rem 1.25rem;
  }
  &-secondary {
    &:focus,
    &:hover {
      background-color: $gray-dark;
          border-color: $gray-dark;
    }
  }
}

// mixing for paddings
@mixin section-padding-top($padding-top) {
  padding-top: $padding-top * $line-height-base + rem;
  @include media-breakpoint-down(sm) {
    //padding-top: $padding-top + rem;
    padding-top: if(($padding-top - 2) > 0, ($padding-top - 2), 1) + rem;
  }
}

@mixin section-padding-bottom($padding-bottom) {
  padding-bottom: $padding-bottom * $line-height-base + rem;
  @include media-breakpoint-down(sm) {
    padding-bottom: if(($padding-bottom - 2) > 0, ($padding-bottom - 2), 1) + rem;
  }
}

@mixin vertically-centered() {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertically-centered {
  @include vertically-centered();
  // Reset to default behavior
  @include media-breakpoint-down(sm) {
    position: relative;
    top: auto;
    left: auto;
    transform:none;
  }
}

// Max width on content wrapper
.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  //padding-left: 5%;
  //padding-right: 5%;
  //max-width: $content-wrapper-max-width;
}

.on-brand-color {
  // title white color
  // text white colored
  background-color: $brand-primary;

  .title {
    @extend .text--light-colored;
  }

  .text {
    @extend .text--light-colored;
  }

  .subtitle {
    @extend .text--light-colored;
  }
}

.on-dark-color {
  // title brand color
  // text white colored
  background-color: $black;
  .title {
      @extend .text--brand-colored;
  }

  .text {
    @extend .text--light-colored;
  }

  .subtitle {
    @extend .text--light-colored;
  }
}

// History two column
#history {
  .text {
    column-count: 2;
    column-gap: 2rem;
    max-width: $content-wrapper-max-width;
    text-align: left;
    @include media-breakpoint-down(sm) {
      column-count: 1;
      column-gap: 0;

    }
  }
  // Adding extra spacing to image
  .image {
    margin-bottom: 3rem;
  }
}

.grey-background {
  background-color: #f2f2f2;
}

// Home page logistics
#logistics {
  background-color: #f2f2f2;
}

// Anatomy
#crown-corks {
  background-color: #f2f2f2;
}

// Exterior side
#exterior-side-wrapper {
  background-repeat: no-repeat;
  // Remove bg image on mobile.
  @include media-breakpoint-between(0, sm) {
    background-image: none !important;
  }
}

// Why crwon corks
#why-crown-works {
  background-color: $pastel;
}

// Animate
.is-going-to-be-animated {
  visibility: hidden;
}

// COmpany
#company-team {
  background-color: $black;
  @include section-padding-bottom(5);
}

// Content widths
.content-narrow {
  max-width: $section-text-max-width;
  margin-left: auto;
  margin-right: auto;
}

//Canvas
.canvas-animation {
//  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


@include media-breakpoint-down(sm) {
  #thinkgreen-canvas,
  .canvas-animation {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .image-mobile {
    display: none;
  }
}

// Paddings per slice
#company-about-astir,
#company-facts,
#company-global-reach {
  @include section-padding-top(5);
}

#revenue-chart {
  @include section-padding-bottom(4);
}

#facilities {
  .image {
    padding-top: 2rem;
    @include media-breakpoint-down(sm) {
      padding-bottom: 1rem;
    }
  }
}

#sustainable {
  @include media-breakpoint-down(sm) {
    .image {
      padding-bottom: 1rem;
    }
  }
}

.image-mobile {
  padding-left: $gutter-percentage;
  padding-right: $gutter-percentage;
  .image {
    padding-top: 2rem;
  }
}
// Overide on Crrown corks page
@include media-breakpoint-down(sm) {
  .crown-corks-section .image-mobile {
    .image {
      padding-top: 0;
    }
  }
}


#thinkgreen-canvas {
  @include section-padding-top(4);
}

#supply-chain {
  .image {
    padding-top: 2rem;
  }
  @include section-padding-top(5);
}

#packaging-list {
  @include media-breakpoint-down(sm) {
    .container {
      padding-left: $gutter-percentage;
      padding-right: $gutter-percentage;
    }
  }
  @include section-padding-bottom(5);
  .title--medium {
    margin-bottom: 0;
  }
  .item {
    padding-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      padding-bottom: 0;
      .text {
        min-height: 0;
      }
    }
  }
  .text {
    min-height: 56px;
  }
}

#production {
  .text {
    z-index: 10;
  }
  .image {
    margin-top: -3rem;
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
  }
}

#quality-standards {
  @include section-padding-bottom(3);
}
#quality-standards-list {
  @include section-padding-bottom(5);
}


// Crown corks
.exterior-side__item {
  @include media-breakpoint-down(sm) {
    padding-bottom: 2rem;
  }

  .text {
    max-width: $section-text-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

#exterior-side {
  @include section-padding-top(5);
  @include section-padding-bottom(4);
}

#exterior-diferrence {
  @include section-padding-top(4);
}

#see-the-difference {
  @include section-padding-top(1.5);
  @include section-padding-bottom(5);
}

.crown-corks__item {
  //center content in column.
  &.layout-two-column .column:nth-child(2n) {
    margin-top: auto;
    margin-bottom: auto;
  }
  @include section-padding-bottom(4);
  &--first {
    @include section-padding-top(4);
  }
  &--last {
    padding-bottom: 4 * $line-height-base + rem;
    @include media-breakpoint-down(sm) {
      padding-bottom: 3rem;
    }
  }
}
