html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.is-loading {
    opacity: 0;
  }
}

// Override btn, chnage font-size and paddings
// due to capitlization on them.
.btn {
  font-size: $font-size-xs;
  padding-bottom: 0.6rem;
  margin-top: 1rem;
}

@mixin vertically-centered() {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertically-centered {
  @include vertically-centered();
}

// Max width on content wrapper
.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  //max-width: $content-wrapper-max-width;
}

.on-brand-color {
  // title white color
  // text white colored
  background-color: $brand-primary;

  .title {
    @extend .text--light-colored;
  }

  .text {
    @extend .text--light-colored;
  }

  .subtitle {
    @extend .text--light-colored;
  }
}

.on-dark-color {
  // title brand color
  // text white colored
  background-color: $black;
  .title {
      @extend .text--brand-colored;
  }

  .text {
    @extend .text--light-colored;
  }

  .subtitle {
    @extend .text--light-colored;
  }
}

// History two column
#history {
  .text {
    column-count: 2;
    column-gap: 1rem;
    max-width: $content-wrapper-max-width;
    text-align: left;
  }
  // Adding extra spacing to image
  .image {
    margin-bottom: 3rem;
  }
}

// Why crwon corks
#why-crown-works {
  background-color: $pastel;
}

// Animate
.is-going-to-be-animated {
  visibility: hidden;
}
