---
layout: default
---
<script src="https://cdnjs.cloudflare.com/ajax/libs/EaselJS/0.8.0/easeljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tweenjs/0.6.2/tweenjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/EaselJS/0.8.0/movieclip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PreloadJS/0.6.0/preloadjs.min.js"></script>

{% assign langcode = page.lang %}
{% for crownItems in site.data.crown[langcode] %}
  {% assign crownItem = crownItems[1] %}
  {% if crownItems[0] == "video" %}
      {% include video.html param=crownItem %}
  {% else %}
    {% if crownItem.id == "exterior-side" %}
      <div id="exterior-side-wrapper" style="background-image:url({{ crownItem.bgImage }}); background-position: {{ crownItem.bgImagePosition }}; background-size: {{ crownItem.bgImageSize }};">
      {% include section.html param=crownItem %}
      <div class="container">
        <div class="row">
        {% for exteriorItems in site.data.exterior[langcode] %}
          {% assign exteriorItem = exteriorItems[1] %}
            {% if exteriorItem.id == 'exterior-diferrence' %}
              </div>
            </div>
            <div class="container">
              <div class="row layout-stacked">
                {% include item.html param=exteriorItem %}
                {% if exteriorItem.includeArea %}
                  {% include {{ exteriorItem.includeArea }} %}
                {% endif %}
              </div>
            </div>
            {% else %}
                {% include item.html param=exteriorItem %}
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
    {% else %}
      {% include section.html param=crownItem %}
    {% endif %}
  {% endif %}
{% endfor %}
{% for productItems in site.data.products[langcode] %}
  {% assign productItem = productItems[1] %}
    {% include section-crown-corks.html param=productItem %}
{% endfor %}
