<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="main container-fluid clearfix">
        <div class="content row">
          {{ content }}
        </div>
    </div>
    <!-- When on contact page the Request form is open -->
    {% if page.ref == 'contact' %}
      {% assign formClass = "" %}
      {% assign buttonClass = "js-hidden" %}
    {% else %}
      {% assign formClass = "js-hidden" %}
      {% assign buttonClass = "" %}
    {% endif; %}

    {% include request-form.html formVisibily=formClass buttonVisibily=buttonClass %}

    {% include header.html %}

    {% include footer.html %}

    <!-- JavaScript External -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="//use.fontawesome.com/eb7ab6760b.js"></script>
    <!-- JavaScript Internal NEW-->
    <script async defer src="{{site.url}}/assets/javascript/jquery.form.min.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/contact-validation.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/menu.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/floating-label.js"></script>

  </body>
</html>
