<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

  {{ content }}

    <!-- When on contact page the Request form is open -->
    {% if page.ref == 'contact' %}
      {% assign formClass = "" %}
      {% assign buttonClass = "js-hidden" %}
    {% else %}
      {% assign formClass = "js-hidden" %}
      {% assign buttonClass = "" %}
    {% endif; %}

    {% include request-form.html formVisibily=formClass buttonVisibily=buttonClass %}

    {% include header.html %}

    {% include footer.html %}

    <!-- JavaScript External -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="//use.fontawesome.com/eb7ab6760b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>


    <script async defer src="{{site.url}}/assets/javascript/canvas.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/contact-validation.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/menu.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/animate.js"></script>
    <script async defer src="{{site.url}}/assets/javascript/floating-label.js"></script>

  <!-- JavaScript Internal NEW
    <script async defer src="{{site.url}}/assets/javascript/scripts.min.js"></script>

-->
  </body>
</html>
