.text {
  color: $body-color;

  p:last-child,
  p:last-child:first-child {
    margin-bottom: 0;
  }

  &--large {
    font-size: $text-large;
  }


  &--small {
    font-size: $font-size-sm;
  }

  &--extra-small {
    font-size: $font-size-xs;
  }

  &--label {
    font-size: $contact-title;
  }

  // Light colored text
  &--light-colored {
    color: $inverse-color;
  }

  // Brand colored text
  &--brand-colored {
    color: $brand-primary;
  }

  // Centered text
  &--centered {
    text-align: center;
  }
  // Grey text.
  &--gray-colored {
    color: $gray-lighter;
  }
}
