<script id="internalvarnish" src="{{site.url}}{{site.canvasLocation}}/products/internalvarnish/internalvarnish.js"></script>
<script type="text/javascript">
(function() {
	var canvas, stage, exportRoot;

	// Get location of current script,
  // Used to provide absolute position for resources.
  var scriptPath = function () {
	  var scripts = document.getElementById('internalvarnish');
	  var path = '';
	  if(scripts.src && scripts.src.match(/\/internalvarnish\.js$/)) {
	    path = scripts.src.replace(/(.*)\/internalvarnish\.js$/, '$1');
	  }
	  return path;
  };

	window.internalvarnishinit = function() {
		canvas = document.getElementById("internalvarnish-canvas");
		images = images||{};

		// Change the source of the assets, so as to point to the
		// location of the js file.
		libInternalVarnish.properties.manifest.forEach(function(currentValue){
			// Only process if the scriptPath is not already set.
			if(currentValue.src.indexOf('http') != 0){
				currentValue.src = scriptPath() + '/' + currentValue.src;
			}
		});

		var loader = new createjs.LoadQueue(false);
		loader.addEventListener("fileload", handleFileLoad);
		loader.addEventListener("complete", handleComplete);

		loader.loadManifest(libInternalVarnish.properties.manifest);
	}

	function handleFileLoad(evt) {
		if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
	}

	function handleComplete() {
		exportRoot = new libInternalVarnish.internalvarnish();

		stage = new createjs.Stage(canvas);
		stage.addChild(exportRoot);
		stage.update();

		createjs.Ticker.setFPS(libInternalVarnish.properties.fps);
		createjs.Ticker.addEventListener("tick", stage);
	}
})();
</script>
<canvas id="internalvarnish-canvas" class="canvas-animation" width="540" height="520"  style=""></canvas>
