<script id="lithographic" src="{{site.url}}{{site.canvasLocation}}/products/lithographic/lithographic.js"></script>
<script type="text/javascript">
(function() {
	var canvas, stage, exportRoot;

	// Get location of current script,
  // Used to provide absolute position for resources.
  var scriptPath = function () {
	  var scripts = document.getElementById('lithographic');
	  var path = '';
	  if(scripts.src && scripts.src.match(/\/lithographic\.js$/)) {
	    path = scripts.src.replace(/(.*)\/lithographic\.js$/, '$1');
	  }
	  return path;
  };

	window.lithographicinit = function() {
		canvas = document.getElementById("lithographic-canvas");
		images = images||{};

		// Change the source of the assets, so as to point to the
		// location of the js file.
		libLithographic.properties.manifest.forEach(function(currentValue){
			// Only process if the scriptPath is not already set.
			if(currentValue.src.indexOf('http') != 0){
				currentValue.src = scriptPath() + '/' + currentValue.src;
			}
		});

		var loader = new createjs.LoadQueue(false);
		loader.addEventListener("fileload", handleFileLoad);
		loader.addEventListener("complete", handleComplete);

		loader.loadManifest(libLithographic.properties.manifest);
	}

	function handleFileLoad(evt) {
		if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
	}

	function handleComplete() {
		exportRoot = new libLithographic.lithographic();

		stage = new createjs.Stage(canvas);
		stage.addChild(exportRoot);
		stage.update();

		createjs.Ticker.setFPS(libLithographic.properties.fps);
		createjs.Ticker.addEventListener("tick", stage);
	}
})();
</script>
<canvas id="lithographic-canvas" class="canvas-animation" width="607" height="582" style=""></canvas>
