<script id="primerwhite" src="{{site.url}}{{site.canvasLocation}}/products/primerwhite/primerwhite.js"></script>
<script type="text/javascript">

(function() {
  var canvas, stage, exportRoot;

  // Get location of current script,
  // Used to provide absolute position for resources.
  var scriptPath = function () {
    var scripts = document.getElementById('primerwhite');
    var path = '';
    if(scripts.src && scripts.src.match(/\/primerwhite\.js$/)) {
      path = scripts.src.replace(/(.*)\/primerwhite\.js$/, '$1');
    }
    return path;
  };

  window.whitePrimerinit = function() {
  	canvas = document.getElementById("white-primer-canvas");
  	images = images||{};

    // Change the source of the assets, so as to point to the
		// location of the js file.
		libPrimerWhite.properties.manifest.forEach(function(currentValue){
			// Only process if the scriptPath is not already set.
			if(currentValue.src.indexOf('http') != 0){
				currentValue.src = scriptPath() + '/' + currentValue.src;
			}
		});

    var loader = new createjs.LoadQueue(false);
  	loader.addEventListener("fileload", handleFileLoad);
  	loader.addEventListener("complete", handleComplete);
  	loader.loadManifest(libPrimerWhite.properties.manifest);
  }

  function handleFileLoad(evt) {
  	if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
  }

  function handleComplete() {
  	exportRoot = new libPrimerWhite.primerwhite();

  	stage = new createjs.Stage(canvas);
  	stage.addChild(exportRoot);
  	stage.update();

  	createjs.Ticker.setFPS(libPrimerWhite.properties.fps);
  	createjs.Ticker.addEventListener("tick", stage);
  }
})();
</script>
<canvas id="white-primer-canvas" class="canvas-animation" width="540" height="520" style=""></canvas>
