// request form
.contact-form {
  @include section-padding-top(4);
  @include section-padding-bottom(4);
}

.contact {
  @include section-padding-top(5);
  @include section-padding-bottom(6);
  .title {
    margin-bottom: 0;
  }
  .title--small {
    padding-bottom: .3rem;
    padding-top: 1.8rem;
  }

  &__telephone,
  &__email {
    font-size: $contact-title;
    color: $gray-dark;
    a {
      //
    }
  }
  &__skype-number {
    font-size: 1.25rem;
    color: $gray-dark;
    i {
      color: #12A5F4;
      padding-right: 10px;
    }
  }
  &__headquarters.title--small  {
    padding-bottom: 0.7rem;
  }
}

#gmap {
  width: 100%;
  height: 850px;
  @include media-breakpoint-between(sm, md) {
    height: 650px;
  }
  @include media-breakpoint-down(sm) {
    height: 320px;
  }
}
