.carousel {
  overflow: hidden;
  padding-bottom: 2rem;
  &__slide {
    width: 5098px;
    // setting min-height for background container
    min-height: 130px;
    background-repeat: repeat-x;
    animation: slide 60s linear infinite;
  }

}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-2549px, 0, 0);
  }
}

// Company carousel
#company-carousel {
  padding-bottom: 5rem;
}
