.section {
  //
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  // Remove bg image on mobile.
  &:not(#taste, #safety) {
    @include media-breakpoint-between(0, sm) {
      background-image: none !important;
    }
  }

  // Minimum distances.
  //centering within viewport height
  //padding-top: 95px;
  //padding-bottom: 95px;


  &.viewport-height {
    height: 100%;
    min-height: 476px;
    // center only within a viewport-height element
    @include media-breakpoint-down(md) {
      height: auto;
      min-height: 0;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .content-wrapper,
    .image {
      //  Might want to add class for this
      //@include vertically-centered();
    }
  }

  .column {
    //height: inherit;
  }

  .image {
    text-align: center;
  }
}
