.section {
  //
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  // Minimum distances.
  //centering within viewport height
  //padding-top: 95px;
  //padding-bottom: 95px;


  &.viewport-height {
    height: 100%;
    min-height: 476px;
    // center only within a viewport-height element
    @media only screen and (min-width:0) and (max-width: $two-column-breakpoint)  {
      height: auto;
      padding-top: 55px;
      padding-bottom: 55px;
    }
    .content-wrapper,
    .image {
      //  Might want to add class for this
      //@include vertically-centered();
    }
  }

  .column {
    //height: inherit;
  }

  .image {
    text-align: center;
  }
}
