.section {
  //
  background-repeat: no-repeat;
  position: relative;

  &.viewport-height {
    height: 100vh;
  }

  .content-wrapper {
    /*
      Might want to add class for this
    @include vertically-centered();
    */
    height: inherit;
  }

  .column {
    height: inherit;
  }
}
