.title {
  font-size: $font-size-huge;
  font-family: $pf-thin;
  color: $brand-primary;
  margin-bottom: 1rem;

  @include media-breakpoint-between(sm, md) {
    //font-size: 1.5rem;
  }
  @include media-breakpoint-down(sm) {
    //font-size: 1rem;
  }
  

  &--large {
    font-size: $font-size-lg;
  }

  &--medium {
    font-size: $font-size-md;
  }

  &--small {
    font-size: $font-size-sm;
    font-family: $pf-light;
    color: $gray-lighter;
  }

  &--block {
    font-size: $text-large;
    font-family: $pf-light;
  }
}

.subtitle {
  margin-bottom: 1rem;
}
