.footer {
  background-color: $black;
  padding-top:5rem;
  @include media-breakpoint-down(sm) {
    padding-top:3rem;
    .container {
      padding-left: $gutter-percentage;
      padding-right: $gutter-percentage;
      width: 100%;
      .row {
        margin-left: 0;
        margin-right: 0;
        .footer__item {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  &.on-dark-color .title {
    color: $white;
  }

  &__item {

    @include media-breakpoint-down(lg) {
      margin-bottom: 1.5rem;
    }
    // Change column styling, to inline blocks
    @include media-breakpoint-between(sm, lg) {
      float: none;
      width: 48%;
      display: inline-block;
      vertical-align: top;
      margin-left: 0;
    }
    .text {
      color: $gray-light;
      max-width: 320px;
    }
  }

  &__attribution {
    @include section-padding-top(3);
    @include section-padding-bottom(2);
  }

  &__link {
    color: $gray-light;
    &:hover {
      color: $white
    }

    &--map {
      padding-top: 1rem;
      display: block;
    }

    &--skype {
      padding-top: 1rem;
      display: block;
    }

    &--credits {

    }
    // font-icon
    i {
      color: $white;
      padding-right: 15px;
    }
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      list-style: none;
      &__link{
        color: $gray-light;
        &:hover {
          color: $white;
        }
      }
    }
  }
}
