---
layout: default
---
{% assign langcode = page.lang %}
{% for contactItems in site.data.contact[langcode] %}
  {% assign contactItem = contactItems[1] %}
  {% if contactItems[0] == "video" %}
      {% include video.html param=contactItem %}
  {% elsif contactItems[0] == "contact" %}
    <div class="text--centered contact js-scroll-to">
      <h1 class="title title--large">{{ contactItem.title }}</h1>

      <h3 class="title--small">{{ contactItem.callusLabel }}</h3>
      <div class="text--label"><a class="contact__telephone" href="tel:{{ contactItem.callusNumber }}">{{ contactItem.callusNumber }}</a></div>

      <h3 class="title--small">{{ contactItem.skypeLabel }}</h3>
      <a class="contact__skype-number" href="skype:{{ site.data.contact[langcode].contact.skypeUsername }}?call"><i class="fa fa-skype" aria-hidden="true"></i>{{ site.data.contact[langcode].contact.skypetext }}</a>

      <h3 class="title--small">{{ contactItem.enquiries }}</h3>
      <div class="text text--medium"><a class="contact__email" href="mailto:{{ contactItem.email }}">{{ contactItem.email }}</a></div>

      <h3 class="title--small contact__headquarters">{{ contactItem.headquartersLabel }}</h3>
      <div class="text">{{ contactItem.headquartersAddress }}</div>
    </div>
    {% assign gmapLink = contactItem.googleMapLink %}
  {% else %}

  {% endif %}
{% endfor %}

<div id="gmap"></div>

<!-- Include google map -->
<script>
  var map,
      marker;

  function initMap() {
    var astir = {lat: 38.295123, lng: 23.651847};
    var gmapAstirLink = "{{ gmapLink }}";
    map = new google.maps.Map(document.getElementById('gmap'), {
      zoom: 11,
      scrollwheel: false,
      center: astir
    });

    // Origins, anchor positions and coordinates of the marker increase in the X
    // direction to the right and in the Y direction down.
    var icon = {
      url: '{{ site.url }}' + '/images/astir-marker.png',
      // This marker is 39 pixels wide by 62 pixels high.
      size: new google.maps.Size(39, 62),
      // The origin for this image is (0, 0).
      origin: new google.maps.Point(0, 0),
      // The anchor for this image is the base of the flagpole at (0, 32).
      anchor: new google.maps.Point(20, 62)
    };

    marker = new google.maps.Marker({
      position: astir,
      icon: icon,
      map: map
    });

    marker.addListener('click', function() {
      window.location.href = gmapAstirLink;
    });
  }
  window.addEventListener('resize', function () {
    map.panTo(marker.getPosition());
  });
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ page.googleAPIkey }}&callback=initMap" type="text/javascript"></script>
