.layout-two-thirds {
  // Flexbox.
  display: flex;
  // Set padding when max width reached.
  @media only screen and (min-width:0) and (max-width: $content-wrapper-max-width)  {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include media-breakpoint-down(sm) {
    display: block;
    padding-left: $gutter-percentage;
    padding-right: $gutter-percentage;
    .column {
      float:none;
      width:100%;
      text-align: center;
    }


  }

  .column {
    position: relative;

    // Fallback.
    float: left;
    min-height: 20px;

    // Flexbox.
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;

  }

  .column:nth-child(2n+1) {
    width: 55%;
    order: 2;
    @include media-breakpoint-down(sm) {
      width: 100%;
      float: none;
    }

  }

  .column:nth-child(2n) {
    width: 45%;
    order: 3;
    max-width: $content-wrapper-max-width*45/100;
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: none;
      float: none;
      display: block;
    }
  }

  .content-wrapper {
    max-width: $section-text-max-width;
    box-sizing: content-box;
    margin-left: 0;
    margin-right: 0;

    // We might want to change this class in order to avoid overwriting css.
    padding-right: 0;
    padding-left: 5%;

    // Set padding when max width reached.
    @include media-breakpoint-down(sm) {
      padding-left: 0;
      max-width: none;
      padding-right: 0;
      padding-left: 0;
    }
  }

  // Inverse layout
  &.odd {
    // Fallback.
    .column {
      float: right;
      @include media-breakpoint-down(sm) {
        float: none;
      }
    }
    // Flexbox.
    justify-content: flex-end;
    .content-wrapper {
      padding-left: 0;
      padding-right: 5%;
      // Set padding when max width reached.
      @include media-breakpoint-down(sm) {
        padding-right: 0;
      }
    }
    .column:nth-child(2n) {
      order: 1;
    }
  }
}
